<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- Preference pages -->
    <extension point="org.eclipse.ui.preferencePages">
        <page
            id="com.codepilot1c.ui.preferences.VibePreferencePage"
            name="%preferences.vibe.name"
            class="com.codepilot1c.ui.preferences.VibePreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.PromptsPreferencePage"
            name="%preferences.prompts.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.PromptsPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.AccountPreferencePage"
            name="%preferences.account.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.AccountPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.ProvidersPreferencePage"
            name="%preferences.providers.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.ProvidersPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.SkillsPreferencePage"
            name="%preferences.skills.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.SkillsPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.ProfilesPreferencePage"
            name="%preferences.profiles.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.ProfilesPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.McpServersPreferencePage"
            name="%preferences.mcpServers.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.McpServersPreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.McpHostPreferencePage"
            name="%preferences.mcpHost.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.McpHostPreferencePage">
        </page>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page
            id="com.codepilot1c.ui.properties.QaProjectPropertyPage"
            name="%properties.qa.name"
            class="com.codepilot1c.ui.preferences.QaProjectPropertyPage"
            objectClass="org.eclipse.core.resources.IProject">
        </page>
    </extension>

    <extension point="org.eclipse.ui.startup">
        <startup class="com.codepilot1c.ui.startup.McpHostStartup"/>
    </extension>

    <!-- Views -->
    <extension point="org.eclipse.ui.views">
        <category
            id="com.codepilot1c.ui.category"
            name="%category.vibe.name">
        </category>
        <view
            id="com.codepilot1c.ui.views.ChatView"
            name="%view.chat.name"
            icon="icons/vibe16.png"
            category="com.codepilot1c.ui.category"
            class="com.codepilot1c.ui.views.ChatView"
            allowMultiple="false">
        </view>
        <view
            id="com.codepilot1c.ui.views.GraphStudioView"
            name="%view.graph.name"
            icon="icons/vibe16.png"
            category="com.codepilot1c.ui.category"
            class="com.codepilot1c.ui.views.GraphStudioView"
            allowMultiple="false">
        </view>
        <view
            id="com.codepilot1c.ui.views.MemoryInspectorView"
            name="%view.memoryInspector.name"
            icon="icons/vibe16.png"
            category="com.codepilot1c.ui.category"
            class="com.codepilot1c.ui.views.MemoryInspectorView"
            allowMultiple="false">
        </view>
    </extension>

    <!-- Perspective extensions -->
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="*">
            <viewShortcut id="com.codepilot1c.ui.views.ChatView"/>
            <viewShortcut id="com.codepilot1c.ui.views.GraphStudioView"/>
            <viewShortcut id="com.codepilot1c.ui.views.MemoryInspectorView"/>
        </perspectiveExtension>
    </extension>

    <!-- Commands -->
    <extension point="org.eclipse.ui.commands">
        <category
            id="com.codepilot1c.ui.commands.category"
            name="%commands.category.name">
        </category>
        <command
            id="com.codepilot1c.ui.commands.OpenChat"
            name="%command.openChat.name"
            description="%command.openChat.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.OpenTerminal"
            name="%command.openTerminal.name"
            description="%command.openTerminal.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.ExplainCode"
            name="%command.explainCode.name"
            description="%command.explainCode.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.GenerateCode"
            name="%command.generateCode.name"
            description="%command.generateCode.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.FixCode"
            name="%command.fixCode.name"
            description="%command.fixCode.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.CriticiseCode"
            name="%command.criticiseCode.name"
            description="%command.criticiseCode.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.AddCode"
            name="%command.addCode.name"
            description="%command.addCode.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.GenerateDocComments"
            name="%command.generateDocComments.name"
            description="%command.generateDocComments.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.DumpEdtDiagnostics"
            name="%command.dumpEdtDiagnostics.name"
            description="%command.dumpEdtDiagnostics.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.Register"
            name="%command.register.name"
            description="%command.register.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
    </extension>

    <!-- Handlers -->
    <extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.codepilot1c.ui.commands.OpenChat"
            class="com.codepilot1c.ui.handlers.OpenChatHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.OpenTerminal"
            class="com.codepilot1c.ui.handlers.OpenTerminalHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.ExplainCode"
            class="com.codepilot1c.ui.handlers.ExplainCodeHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.GenerateCode"
            class="com.codepilot1c.ui.handlers.GenerateCodeHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.FixCode"
            class="com.codepilot1c.ui.handlers.FixCodeHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.CriticiseCode"
            class="com.codepilot1c.ui.handlers.CriticiseCodeHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.AddCode"
            class="com.codepilot1c.ui.handlers.AddCodeHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.GenerateDocComments"
            class="com.codepilot1c.ui.handlers.GenerateDocCommentsHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.DumpEdtDiagnostics"
            class="com.codepilot1c.ui.handlers.DumpEdtDiagnosticsHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.Register"
            class="com.codepilot1c.ui.handlers.RegisterHandler">
        </handler>
    </extension>

    <!-- Key bindings -->
    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.codepilot1c.ui.commands.OpenChat"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
        </key>
        <!-- AI Code Commands -->
        <key
            commandId="com.codepilot1c.ui.commands.FixCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+F">
        </key>
        <key
            commandId="com.codepilot1c.ui.commands.CriticiseCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
        </key>
        <key
            commandId="com.codepilot1c.ui.commands.AddCode"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+A">
        </key>
        <key
            commandId="com.codepilot1c.ui.commands.GenerateDocComments"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D">
        </key>
    </extension>

    <!-- Menus -->
    <extension point="org.eclipse.ui.menus">
        <!-- Main menu -->
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                id="com.codepilot1c.ui.menu"
                label="%menu.vibe.label"
                mnemonic="V">
                <command
                    commandId="com.codepilot1c.ui.commands.OpenChat"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.Register"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.OpenTerminal"
                    style="push">
                </command>
                <separator name="separator1" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.ExplainCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.FixCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.CriticiseCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.AddCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateDocComments"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.OptimizeQuery"
                    style="push">
                </command>
            </menu>
        </menuContribution>

        <!-- Toolbar -->
        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="com.codepilot1c.ui.toolbar">
                <command
                    commandId="com.codepilot1c.ui.commands.OpenChat"
                    icon="icons/vibe16.png"
                    tooltip="%command.openChat.tooltip"
                    style="push">
                </command>
            </toolbar>
        </menuContribution>

        <!-- Status Bar -->
        <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
            <control
                class="com.codepilot1c.ui.statusbar.VibeStatusBarControl"
                id="com.codepilot1c.ui.statusbar">
            </control>
        </menuContribution>

        <!-- Context menu for BSL editor -->
        <menuContribution locationURI="popup:#TextEditorContext?after=additions">
            <menu
                id="com.codepilot1c.ui.contextMenu"
                label="%menu.copilot.label">
                <command
                    commandId="com.codepilot1c.ui.commands.OpenChat"
                    style="push">
                </command>
                <separator name="separator0" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.ExplainCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.FixCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.CriticiseCode"
                    style="push">
                </command>
                <separator name="separator1" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.AddCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateDocComments"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.OptimizeQuery"
                    style="push">
                </command>
            </menu>
        </menuContribution>

        <!-- Fallback context menu for editors that don't expose #TextEditorContext (EDT/Bsl variants) -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                id="com.codepilot1c.ui.contextMenuFallback"
                label="%menu.copilot.label">
                <visibleWhen checkEnabled="false">
                    <with variable="activeEditorInput">
                        <adapt type="org.eclipse.core.resources.IFile">
                            <test property="org.eclipse.core.resources.extension" value="bsl"/>
                        </adapt>
                    </with>
                </visibleWhen>
                <command
                    commandId="com.codepilot1c.ui.commands.OpenChat"
                    style="push">
                </command>
                <separator name="separator0" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.ExplainCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.FixCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.CriticiseCode"
                    style="push">
                </command>
                <separator name="separator1" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.AddCode"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.GenerateDocComments"
                    style="push">
                </command>
                <command
                    commandId="com.codepilot1c.ui.commands.OptimizeQuery"
                    style="push">
                </command>
            </menu>
        </menuContribution>

        <!-- Context menu for Project Explorer on BSL files -->
        <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
            <menu
                id="com.codepilot1c.ui.explorerMenu"
                label="%menu.copilot.label">
                <visibleWhen checkEnabled="false">
                    <iterate ifEmpty="false" operator="or">
                        <adapt type="org.eclipse.core.resources.IFile">
                            <test property="org.eclipse.core.resources.extension" value="bsl"/>
                        </adapt>
                    </iterate>
                </visibleWhen>
                <command
                    commandId="com.codepilot1c.ui.commands.ExplainCode"
                    style="push">
                </command>
            </menu>
        </menuContribution>
    </extension>
</plugin>
