<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- Preference pages -->
    <extension point="org.eclipse.ui.preferencePages">
        <page
            id="com.codepilot1c.ui.preferences.VibePreferencePage"
            name="%preferences.vibe.name"
            class="com.codepilot1c.ui.preferences.VibePreferencePage">
        </page>
        <page
            id="com.codepilot1c.ui.preferences.McpHostPreferencePage"
            name="%preferences.mcpHost.name"
            category="com.codepilot1c.ui.preferences.VibePreferencePage"
            class="com.codepilot1c.ui.preferences.McpHostPreferencePage">
        </page>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page
            id="com.codepilot1c.ui.properties.QaProjectPropertyPage"
            name="%properties.qa.name"
            class="com.codepilot1c.ui.preferences.QaProjectPropertyPage"
            objectClass="org.eclipse.core.resources.IProject">
        </page>
    </extension>

    <extension point="org.eclipse.ui.startup">
        <startup class="com.codepilot1c.ui.startup.McpHostStartup"/>
    </extension>

    <!-- Commands -->
    <extension point="org.eclipse.ui.commands">
        <category
            id="com.codepilot1c.ui.commands.category"
            name="%commands.category.name">
        </category>
        <command
            id="com.codepilot1c.ui.commands.OpenTerminal"
            name="%command.openTerminal.name"
            description="%command.openTerminal.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.DumpEdtDiagnostics"
            name="%command.dumpEdtDiagnostics.name"
            description="%command.dumpEdtDiagnostics.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
        <command
            id="com.codepilot1c.ui.commands.RestartMcp"
            name="%command.restartMcp.name"
            description="%command.restartMcp.description"
            categoryId="com.codepilot1c.ui.commands.category">
        </command>
    </extension>

    <!-- Handlers -->
    <extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.codepilot1c.ui.commands.OpenTerminal"
            class="com.codepilot1c.ui.handlers.OpenTerminalHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.DumpEdtDiagnostics"
            class="com.codepilot1c.ui.handlers.DumpEdtDiagnosticsHandler">
        </handler>
        <handler
            commandId="com.codepilot1c.ui.commands.RestartMcp"
            class="com.codepilot1c.ui.handlers.RestartMcpHandler">
        </handler>
    </extension>

    <!-- Menus -->
    <extension point="org.eclipse.ui.menus">
        <!-- Main menu -->
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                id="com.codepilot1c.ui.menu"
                label="%menu.vibe.label"
                mnemonic="V">
                <command
                    commandId="com.codepilot1c.ui.commands.OpenTerminal"
                    style="push">
                </command>
                <separator name="separator1" visible="true"/>
                <command
                    commandId="com.codepilot1c.ui.commands.RestartMcp"
                    style="push">
                </command>
            </menu>
        </menuContribution>
    </extension>
</plugin>
